body {
    background: black;
    color: lightgreen;
}
.gamestyle {
    color: white;
    background: black;
    border-color: lightgreen;
}
.shield {
    display:none;
}
#playerShipNew {
    display: none;
}
#playerShipMid {
    display:none;
}
#playerShipOld {
    display:none;
}
#playerShipDestroyed {
    display:none;
}
#enemyShipNew {
    display: none;
}
#enemyShipMid {
    display: none;
}
#enemyShipOld {
    display: none;
}
#enemyShipDestroyed {
    display: none;
}
#userConsole {
    border-color:lightgreen;
    border-width: 10px;
}
.enemyShip {
    display: flex;
    color: red;
}

.moveset {
    display: inline-block;
}



